@model MovieMonster.Models.MovieSale

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieSale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sale.SaleID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    @* text link for Edit send 2 primary key*@
    @Html.ActionLink("Edit", "Edit", new { SaleID = Model.SaleID, MovieID = Model.MovieID }) |
    <a asp-action="Index">Back to List</a>
</div>
