@model MovieMonster.Models.Sale

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Purchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purchased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movies)
        </dt>
        @foreach (var movie in Model.Movies)
        {
            @* include Movie from MovieSale *@
            @Html.DisplayFor(itemMovie => movie.Movie.Title)
            <br />
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SaleID">Edit</a> |
    @Html.ActionLink("Buy Now", "Purchase", new { id = Model.SaleID})

</div>
