@model IEnumerable<MovieMonste.Models.MovieSale>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sale.SaleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @*3 text link for Edit, Details and Delete send to functions 2 primary key*@
                @Html.ActionLink("Edit", "Edit", new { SaleID = item.SaleID, MovieID = item.MovieID }) |
                @Html.ActionLink("Details", "Details", new { SaleID = item.SaleID, MovieID = item.MovieID }) |
                @Html.ActionLink("Delete", "Delete", new { SaleID = item.SaleID, MovieID = item.MovieID })
            </td>
        </tr>

    </tbody>
</table>
