@model IEnumerable<MovieMonste.Models.StockOrder>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @foreach (var movie in item.Movies)
                {
                    @* include Movie from MovieStockOrder *@
                    @Html.DisplayFor(itemMovie => movie.Movie.Title)
                    <br />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockOrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StockOrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StockOrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
