@model IEnumerable<MovieMonste.Models.MovieStockOrder>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockOrder.StockOrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { MovieID=item.MovieID, StockOrderID = item.StockOrderID}) |
                @Html.ActionLink("Details", "Details", new { MovieID = item.MovieID, StockOrderID = item.StockOrderID }) |
                @Html.ActionLink("Delete", "Delete", new { MovieID = item.MovieID, StockOrderID = item.StockOrderID })
            </td>
        </tr>
}
    </tbody>
</table>
