@model IEnumerable<MovieMonste.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @foreach (var movie in item.Movies)
                {
                    @Html.DisplayFor(itemMovie => movie.Title)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SaleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleID">Delete</a> |
                <a asp-action="AddMovieToCart" asp-route-id="@item.SaleID">AddMovie</a>
            </td>
        </tr>
}
    </tbody>
</table>
